<div class="modal-header">
    <h6 class="modal-title">{{isEditMode ? 'Edit Notes' : 'Create Notes'}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="notesForm">
        <div class="form-group">
            <input type="text" class="form-control" id="notesTitle" placeholder="Notes Title" formControlName="title" (keyup)="duplicateErrorMessage = false">
            <p class="error p-l-5" *ngIf="notesForm.get('title').invalid && (notesForm.get('title').touched || notesForm.get('title').dirty) ">
                Please Enter Notes
            </p>

            <p class="error p-l-5" *ngIf="duplicateErrorMessage">
                Notes title already exist please choose any other name
            </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="float-right">
        <button class="btn btn-primary" [disabled]="notesForm.invalid" (click)="createOrEditNewNotes()">{{isEditMode ?
            'Update Title' : 'Create Notes'}}</button>
    </div>
</div>