<div id="main">
    <p *ngIf="!notes" class="text-center no-notes">No Notes Available</p>
    <form *ngIf="notes">
        <div class="d-flex justify-content-between">
            <p class="m-b-0 title">{{notes.title}}</p>
            <p class="m-b-0 m-r-20 date">{{notes.date | date: 'dd-MMM-yyyy (hh:ss:mm)'}}</p>
        </div>
        <textarea [readonly]="!notes.title" class="content-body" (keyup)="updateDescriptionAction()" [(ngModel)]="notes.description"
            [ngModelOptions]="{standalone: true}">

        </textarea>
    </form>
</div>