<div class="modal-header">
    <h6 class="modal-title">Notes Title</h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <ng-container *ngTemplateOutlet="notesCreationForm"></ng-container> -->
    <form [formGroup]="notesForm">
        <div class="form-group">
            <input type="text" class="form-control" id="notesTitle" placeholder="Notes Title" formControlName="title">
            <p class="error p-l-5" *ngIf="notesForm.get('title').invalid && (notesForm.get('title').touched || notesForm.get('title').dirty) ">
                Please Enter Notes
            </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="float-right">
        <button class="btn btn-primary" [disabled]="notesForm.invalid" (click)="createNewNotes()">Create Notes</button>
    </div>
</div>