<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-t-0 p-b-0 h-80">
        <div class="d-flex justify-content-between align-data">
            <div id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item m-r-10" (click)="addNotesAction()">
                        <span class="fa fa-plus-square-o m-r-5" aria-hidden="true"></span>
                        <span class="labels">Add Notes</span>
                    </li>
                    <li class="nav-item m-r-10" (click)="removeCurrentNotesAction()">
                        <span class="fa fa-trash m-r-5" aria-hidden="true"></span>
                        <span class="labels">Remove Notes</span>
                    </li>
                </ul>
            </div>
            <div>
                <ng-container *ngTemplateOutlet="search"></ng-container>
            </div>
        </div>

    </nav>

</div>

<!-- Search Template  -->

<ng-template #search>
    <form class="m-t-10">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <form class="input-group">
                <input type="text" class="form-control" placeholder="Search for your course" name="search"
                    (keyup.enter)="search()" [(ngModel)]="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="search()">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </form>
</ng-template>