<div class="sticky-top">
    <div class="row align-data m-l-10 m-r-20">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="row">
                <div class="m-r-20" (click)="addNotesAction()">
                    <span class="fa fa-plus-square-o m-r-5" aria-hidden="true"></span>
                    <span class="labels">Add Notes</span>
                </div>
                <div (click)="removeCurrentNotesAction()" [ngClass]="notesList.length <= 0 ? 'no-records' : ''">
                    <span class="fa fa-trash m-r-5" aria-hidden="true"></span>
                    <span class="labels">Remove Notes</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 float-right">
            <ng-container *ngTemplateOutlet="search"></ng-container>
        </div>
    </div>
</div>

<!-- Search Template  -->

<ng-template #search>
    <form class="m-t-10">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <form class="input-group">
                <input type="text" class="form-control" placeholder="Search with title and note data" name="search"
                    (keyup)="searchData()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="searchData()">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </form>
</ng-template>